{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center logo my-4">
      <a class="navbar-brand" href="{% url 'boards:home' %}">
		<img src="{% static 'img/ti-logo-text.svg' %}" width="315" height="50" alt="Tributary Income">
	  </a>	    
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7 col-sm-9">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}