{% extends 'accounts/base_accounts.html' %}

{% block title %}Log in to Django Boards{% endblock %}

{% block content %}
    <div class="card" style="padding: 20px 20px;">
      <div class="card-body">
        <h3 class="card-title text-center">Login</h3>
        <form method="post" novalidate>
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          {% include 'includes/form.html' %}
          <button type="submit" class="btn btn-primary btn-block">Log In</button>
        </form>
      </div>
      <div class="text-muted text-center">
        Don't have an account? <a href="{% url 'accounts:signup' %}">Sign up</a>
      </div>
    </div>
    <div class="text-center py-2">
      <small>
        <a href="{% url 'accounts:password_reset' %}" class="text-muted">Forgot your password?</a>
      </small>
    </div>
{% endblock %}