body {
  background: rgb(246, 246, 246);
  font-family: 'Roboto', sans-serif;
}

.logo {
  font-family: 'Peralta', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Average', serif;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}